:root {
    --black: #0f0f0f;
    --gray: #3f3f3f;
    --white: #fff;
}

/* =========================
   TOP CENTER NAV CONTAINER
========================= */
.nav-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

/* =========================
   NAV WRAPPER
========================= */
.nav-wrap {
    border: 1px solid var(--gray);
    width: fit-content;
    border-radius: 500px;
    position: relative;
    box-shadow: inset 10px 0 10px black;
    background: linear-gradient(0deg, #141414, #242424);
}

.nav-wrap::after {
    content: "";
    position: absolute;
    inset: -5px;
    background: linear-gradient(180deg, var(--gray), #212121);
    border-radius: 500px;
    z-index: -1;
}

/* =========================
   NAV
========================= */
.nav {
    width: fit-content;
    anchor-name: --nav;
    margin: 6.7px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.nav a {
    z-index: 10;
    position: relative;
    display: inline-block;
    padding: 20px 50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.nav a::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.2;
}

.nav a.active {
    anchor-name: --active;
    color: black;
}

.nav a:hover::before {
    anchor-name: --nav;
}

/* =========================
   BUBBLES
========================= */
.bubble {
    position: absolute;
    top: anchor(top);
    right: anchor(right);
    bottom: anchor(bottom);
    left: anchor(left);
    border-radius: 500px;
    transition: all 0.2s ease;
}

.bubble.active {
    position-anchor: --active;
    z-index: 2;
    background: linear-gradient(180deg, #f2f2f2, #b3b3b3);
    box-shadow: inset 0 2px 7px #fff;
}

.bubble.hover {
    position-anchor: --nav;
    z-index: 1;
    background: linear-gradient(180deg, var(--gray), #212121);
    box-shadow: inset 0 2px 7px #ffffff29;
}





/* =========================
   GLOBAL RESETS (SAFE)
========================= */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    background: #0f0f0f;
    font-family: "Geist Sans", sans-serif;
    color: #fff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    padding-top: 120px;
}

/* =========================
   MEDIA & TEXT FIXES
========================= */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root {
    isolation: isolate;
}