:root {
  --black: #0f0f0f;
  --gray: #3f3f3f;
  --white: #fff;
  --nav-padding-x: 30px;
  --nav-padding-y: 12px;
  --nav-margin: 5px;
  --font-size: 18px;
}

.nav-wrap {
  border: 1px solid var(--gray);
  width: fit-content;
  max-width: calc(100vw - 40px);
  /* This centers the navbar and gives it the top spacing */
  margin: 15px auto; 
  /* Stick to top */
  position: sticky;
  top: 15px; 
  border-radius: 500px;
  box-shadow: inset 10px 0 10px black;
  background: linear-gradient(0deg, #141414, #242424);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.nav-wrap:after {
  content: "";
  display: block;
  position: absolute;
  inset: -4px;
  background: linear-gradient(180deg, var(--gray), #212121);
  border-radius: 500px;
  z-index: -1;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  margin: var(--nav-margin);
  justify-content: center;
  align-items: center;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav a {
  z-index: 10;
  position: relative;
  display: inline-block;
  padding: var(--nav-padding-y) var(--nav-padding-x);
  color: white;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  font-size: var(--font-size);
}

.nav a.active {
  anchor-name: --active;
  color: black;
}

.bubble {
  background: white;
  top: anchor(top);
  right: anchor(right);
  bottom: anchor(bottom);
  left: anchor(left);
  position: absolute;
  transition: all 0.2s;
  border-radius: 500px;
  pointer-events: none;
}

.bubble.active {
  position-anchor: --active;
  z-index: 2;
  background: linear-gradient(180deg, #f2f2f2, #b3b3b3);
  box-shadow: inset 0 2px 7px #fff;
}

@media (max-width: 768px) {
  :root {
    --nav-padding-x: 20px;
    --nav-padding-y: 10px;
    --font-size: 15px;
  }
  .nav {
    justify-content: flex-start;
    padding: 0 10px;
  }
}